﻿<%@ Page Title="AFAQ Homepage" Language="C#" MasterPageFile="~/Navbar.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="AFAQ_Project.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<h3>Hello this is main content</h3>


</asp:Content>
