﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Navbar.master.cs" Inherits="AFAQ_Project.Navbar" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="Content/bootstrap.min.css" type="text/css" rel="stylesheet" />



</head>
<body style="background: url('../../Assets/images/wallpaper.jpg'); background-size: cover; background-repeat: no-repeat;">

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">AFAQ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../../Home.aspx">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../About.aspx">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="goToLoginBtn" href="../../Login.aspx">Login</a>
                    </li>

                    <li class="nav-item dropdown">
                        <div id="adminListHTML">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin's Options
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Welcome</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="../Views/Navigation.aspx">Admin Dashboard</a>
                                <a class="dropdown-item" href="#">Change Password</a>
                                <a class="dropdown-item" href="../../Logout.aspx" id="logoutLink">Logout</a>

                            </div>
                        </div>
                    </li>

                </ul>

                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>


            </div>
        </nav>
    </div>



    <div>
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script>
        var adminList = document.getElementById("adminListHTML");
        var loginBtn = document.getElementById("goToLoginBtn");
        var out = document.getElementById("logoutLink");
        function checkSession() {
            if ("<%=Session["admin"]%>" == "yes") {
                adminList.style.display = 'block';
                out.style.display = 'block';
                loginBtn.style.display = 'none';
            }
            else {
                adminList.style.display = 'none';
                out.style.display = 'none';
                loginBtn.style.display = 'block';
            }
        }

        checkSession();

    </script>

</body>
</html>
