﻿table {
    border-collapse: collapse;
    align-self:center;
    margin:auto;
    margin-top:70px;
   text-align:center;
   border-spacing:10px 10px;
  
}

    table td {
        margin:10px;
        border-top: 0;
        border: 10px groove white;
    }

    table tr:first-child th {
        border-top: 0;
    }

    table tr:last-child td {
        border-bottom: 0;
        border-top: 0;
    }

    table tr td:first-child,
    table tr th:first-child {
        border-left: 0;
        border-top: 0;
    }

    table tr td:last-child,
    table tr th:last-child {
        border-right: 0;
        border-top: 0;
    }
.centerDiv {
    width: 40%;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border: 8px groove black;
    vertical-align: central;
    background: rgba( 146, 146, 146, 0.6);
    border-radius: 20px;
}

.optionsImg {
width:120px;
height:120px;
}

    .optionsImg:hover {
        width: 200px;
        height: 200px;
    }
